__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
~$*

experiments/*.ipynb_checkpoints
examples/*.ipynb_checkpoints
*.pdf
*.env

# Virtual environments
.venv
uv.lock
.python-version
.idea
.coverage
.DS_Store